body{
  background-color: #DEF5E5;
}

img{
  height: 350px;
}
.hrp{
  background-color: #DEF5E5;
  border-style: dotted none none;
  border-color: #344D67;
  border-width: 4px;
  padding-left:

}
